.main {
  padding: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 1fr;
}

.navigation {
  padding: 10px;
  background-color: lightblue;
}

a {
  color: black;
  text-decoration: none;
  height: 30px;
  text-align: left;
  display: grid;
  align-items: center;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.outlet {
  padding: 10px;
  background-color: aquamarine;
}
